img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 100px;
}
body{
	background-color: white;
	color: darkblue;
	font-family: 'Lato', sans-serif;
}
.grande{
	font-size: 3em;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.espacio-derecha{
	margin-right: 1em;
}
.no-lista li{
list-style-type: none;
}
.se-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 5px 10px;
}
.ve-arriba{
	vertical-align: top;
}
.mediano{
	font-size: 1.5em;
}
.retraso1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.retraso2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.retraso3{
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}